*{
  box-sizing: border-box;
}

body{
  font-family: "Karla", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 20px;
  margin-right: auto;
}

.header--info {
  font-size: 0.75rem;
  font-weight: 500;
}

/* Form */
.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input{
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1/-1;
  font-family: "Karla", sans-serif;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
}

main{
  padding: 36px;
}
button{
  cursor: pointer;
}

.meme--image{
  text-align: center;
  max-width: 100%;
  margin-left: 60%;
}