*{
    margin: 0;
    padding: 0%;
}
.passpass{
    background-image: linear-gradient( to right, #bdc3c7, #2c3e50 );
    display: flex;
    height: 60vh;
    width: 50vw;
    margin-left: 350px;
    margin-top: 150px;
    overflow: hidden;
    border-radius: 20px;
    justify-content: center;
    position: relative;
}

.todo--container{
    position: absolute;
    top: 20%
}

.btn{
    background:linear-gradient(#2c3e50);
}
