
body {
    background-color: black;
}

.app{
    display: flex;
    /* height: 50%;
    width: 50%; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
}

.left-section{
    width: 15%;
}


/* Main Setion */
.main{
    width: 60%;
    /* margin-left: 25%; */
}

.carasoule--items{
    display: flex;
    color: white;
    margin-top: 20px;
}

.carasoule--imgaes{
    height: 40px;
    width: 40px;
}

.carasoule--texts{
    margin-right: 230px;
}

button{
    height: 40px;
    width: 80px;
    border: 2px solid;
    background-color: green;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    border: 2px solid white;
    border-radius: 10px;
 }
.tag {
    text-align: center;
}
  
.slick-slide img {
    margin: auto;
    width: 50%;
    height: 50%;
}

.left-section ul li{
    color: white;
}