
body {
    background-color: black;
}

.tag {
    text-align: center;
}

.slick-slide img {
    margin: auto;
    width: 50%;
    height: 50%;
}

.imgslider{
    display: flex;
    justify-items: center;
    align-items: center;
}

/* Main Setion */
.main{
    /* width: 80%;
    margin-left: 25%; */
}

.carasoule--items{
    display: flex;
    justify-content: space-evenly;
    max-width: 630px;
    color: white;
    /* margin-top: 20px; */
}

.carasoule--imgaes{
    /* height: 40px;
    width: 40px; */
}

.carasoule--texts{
    /* margin-right: 230px; */
}






















button{
    height: 40px;
    width: 80px;
    border: 2px solid;
    background-color: lightgreen;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    border: 2px solid white;
    border-radius: 10px;
 }
























 /* .madeforyou--section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    margin: 0px 10px 0px 10px;
 }

 .mdf-image{
    border-radius: 10px;
    margin-top: 50px;
 }

 .mdf--headings{
    width: 150px;
    margin-bottom: 50px;
 }

 .mdf-cont{
    position: relative;
 }

 .mdf-cont p{
    position: absolute;
    top: 5px;
 }

.tag {
    text-align: center;
}
  
.slick-slide img {
    margin: auto;
    width: 50%;
    height: 50%;
}

.left-section ul li{
    color: white;
} */




/* .mainMain{
    display: flex;
}

.inner1{
    width: 30%;
    margin-right: -200px;
    line-height: 35px;
}

.inner2{
    width: 70%;
} */