* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #282d35;
  /* height: 100vh; */
  font-family: Inter, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

nav > h3,
nav > h4 {
  margin: 0;
}

nav > img {
  height: 30px;
  margin-right: 7px;
}

nav > h3 {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

nav > h4 {
  color: #DEEBF8;
}

main {
  padding: 57px 27px;
  color: white;
  background-image: url(./images/peakpx-removebg-preview.png);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: right 75%;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: 0.02em;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts>li{
  line-height: 19px;
  padding-block: 10px;
}

.main--facts > li::marker{
  font-size: 1.4rem;
  color: #61DAFB;
}